In [1]:
import pandas as pd
import numpy as np

In [136]:
df = pd.read_csv('datasets/movies/movies.csv')
df.reset_index(level=0, inplace=True)

In [137]:
df.head(20)

   index user_id;star_wars;lord_of_the_rings;harry_potter
0      0                                    1;1.2;4.9;2.1
1      1                                    2;2.1;8.1;7.9
2      2                                    3;7.4;3.0;9.9
3      3                                    4;5.6;0.5;1.8
4      4                                    5;1.5;8.3;2.6
5      5                                    6;2.5;3.7;6.5
6      6                                    7;2.0;8.2;8.5
7      7                                    8;1.8;9.3;4.5
8      8                                    9;2.6;1.7;3.1
9      9                                   10;1.5;4.7;2.3

In [141]:
#text = 'user_id;star_wars;lord_of_the_rings;harry_potter'
df['index'] = df['user_id;star_wars;lord_of_the_rings;harry_potter']
#df.drop([0, 1])
columns = df.columns[1].split(';')
d2 = []
i = 0
rows = []
for val in range(len(df)): 
    rows.append(df['index'][i].split(';'))                            
    i += 1
    
for rval in range(len(rows)):
    col_num = 0
    data = {}
    for column in columns:
        print(column +' / '+ rows[rval][col_num])
        data[column] = rows[rval][col_num]       
        print(data)
        col_num += 1
    d2.append(data)

user_id / 1
{'user_id': '1'}
star_wars / 1.2
{'user_id': '1', 'star_wars': '1.2'}
lord_of_the_rings / 4.9
{'user_id': '1', 'star_wars': '1.2', 'lord_of_the_rings': '4.9'}
harry_potter / 2.1
{'user_id': '1', 'star_wars': '1.2', 'lord_of_the_rings': '4.9', 'harry_potter': '2.1'}
user_id / 2
{'user_id': '2'}
star_wars / 2.1
{'user_id': '2', 'star_wars': '2.1'}
lord_of_the_rings / 8.1
{'user_id': '2', 'star_wars': '2.1', 'lord_of_the_rings': '8.1'}
harry_potter / 7.9
{'user_id': '2', 'star_wars': '2.1', 'lord_of_the_rings': '8.1', 'harry_potter': '7.9'}
user_id / 3
{'user_id': '3'}
star_wars / 7.4
{'user_id': '3', 'star_wars': '7.4'}
lord_of_the_rings / 3.0
{'user_id': '3', 'star_wars': '7.4', 'lord_of_the_rings': '3.0'}
harry_potter / 9.9
{'user_id': '3', 'star_wars': '7.4', 'lord_of_the_rings': '3.0', 'harry_potter': '9.9'}
user_id / 4
{'user_id': '4'}
star_wars / 5.6
{'user_id': '4', 'star_wars': '5.6'}
lord_of_the_rings / 0.5
{'user_id': '4', 'star_wars': '5.6', 'lord_of_the_rings': '0.5'}
harry_potter / 1.8
{'user_id': '4', 'star_wars': '5.6', 'lord_of_the_rings': '0.5', 'harry_potter': '1.8'}
user_id / 5
{'user_id': '5'}
star_wars / 1.5
{'user_id': '5', 'star_wars': '1.5'}
lord_of_the_rings / 8.3
{'user_id': '5', 'star_wars': '1.5', 'lord_of_the_rings': '8.3'}
harry_potter / 2.6
{'user_id': '5', 'star_wars': '1.5', 'lord_of_the_rings': '8.3', 'harry_potter': '2.6'}
user_id / 6
{'user_id': '6'}
star_wars / 2.5
{'user_id': '6', 'star_wars': '2.5'}
lord_of_the_rings / 3.7
{'user_id': '6', 'star_wars': '2.5', 'lord_of_the_rings': '3.7'}
harry_potter / 6.5
{'user_id': '6', 'star_wars': '2.5', 'lord_of_the_rings': '3.7', 'harry_potter': '6.5'}
user_id / 7
{'user_id': '7'}
star_wars / 2.0
{'user_id': '7', 'star_wars': '2.0'}
lord_of_the_rings / 8.2
{'user_id': '7', 'star_wars': '2.0', 'lord_of_the_rings': '8.2'}
harry_potter / 8.5
{'user_id': '7', 'star_wars': '2.0', 'lord_of_the_rings': '8.2', 'harry_potter': '8.5'}
user_id / 8
{'user_id': '8'}
star_wars / 1.8
{'user_id': '8', 'star_wars': '1.8'}
lord_of_the_rings / 9.3
{'user_id': '8', 'star_wars': '1.8', 'lord_of_the_rings': '9.3'}
harry_potter / 4.5
{'user_id': '8', 'star_wars': '1.8', 'lord_of_the_rings': '9.3', 'harry_potter': '4.5'}
user_id / 9
{'user_id': '9'}
star_wars / 2.6
{'user_id': '9', 'star_wars': '2.6'}
lord_of_the_rings / 1.7
{'user_id': '9', 'star_wars': '2.6', 'lord_of_the_rings': '1.7'}
harry_potter / 3.1
{'user_id': '9', 'star_wars': '2.6', 'lord_of_the_rings': '1.7', 'harry_potter': '3.1'}
user_id / 10
{'user_id': '10'}
star_wars / 1.5
{'user_id': '10', 'star_wars': '1.5'}
lord_of_the_rings / 4.7
{'user_id': '10', 'star_wars': '1.5', 'lord_of_the_rings': '4.7'}
harry_potter / 2.3
{'user_id': '10', 'star_wars': '1.5', 'lord_of_the_rings': '4.7', 'harry_potter': '2.3'}

In [148]:
df2 = pd.DataFrame(d2)

In [155]:
df2.to_csv('datasets/movies/movies2.csv', index=False)